:root{--default-animation-time: 2s;}

*{margin: 0; padding: 0; font-family: Georgia,serif; color: white;}
main{position: relative; height: 100vh; background-image: url("./images/lookout.jpeg"); background-size: cover; background-repeat: no-repeat;}
article{
    position: absolute; height: 90vh; top:5vh; bottom: 5vh;
    width: 100%; opacity: 0; 
    transition: opacity var(--default-animation-time) linear;
}
h1,h2 {background-color: black; text-align: center; text-transform: uppercase; padding-top: 2vh; padding-bottom: 2vh;}
h1{font-size: 7vh; transform:translateY(-100vh);}
h2{position: relative; top:30vh; width: fit-content; padding-left: 2vw; padding-right: 2vw;left: 0; right: 0; margin-left: auto; margin-right: auto;}
p{font-size: 2em; margin-top: 10vh;}
a{text-decoration: none;}
h2,p{transform: translateY(100vh);}
h2,p{
     transition: transform var(--default-animation-time) ease-in-out;
}
h1{
    transition: transform calc(var(--default-animation-time)/4) ease-in-out;
}
article:hover{opacity: 1;}
article:hover p, article:hover h2, article:hover h1 {transform: translateY(0);}
#copyright{text-align: right; margin-right: 2vw;}